/* Styling */
   /*jslint browser: true*/
/*global $, jQuery*/
body {
    background-color: rgba(114, 114, 114, 0.17);
    font-family: Verdana;
}
ul.nav { text-align: center; }
ul.nav li { display: inline-block;
    border: 3pt sold grey ;
    border-style: outset;
    font-family: verdana, sans-serif;
    text-decoration:underline overline;
    text-transform:uppercase;
    color:#000000;
    border: 12px dashed black;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:15px;
    padding: 15pt;
    line-height:0}
img {
    max-width: 50%;
}

.paracontain {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}
.welcome {
    padding-bottom: 20px;
    border:4pt offset grey;
    font-size:24pt;
font-family: verdana;
    padding:50px;
margin: auto;
text-align: center;}
.bio {
    padding-bottom: 20px;
    border:4pt offset grey;
    font-size:14pt;
font-family: verdana;
    padding:5px;
margin: auto;
text-align: center;

}
#resumebox{
margin: 10% auto;
height: 500px;
width: 820px;}

.resume { 
    position: relative;
    align-content: center;
    border: 5pt solid black;
   width: 820px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
embed {
    width: 400pt;
    height:300pt;
}
h1 {;
    padding-top: 20px;
    text-align: center;
    font-size: 34pt;
    font-family: Verdana, sans-serif;
    text-decoration:underline overline;
    text-transform:uppercase;
    color:#000000;
    border: black 38px dashed #b5a759;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:55px;
    line-height:0;
    margin:auto;}


h2 {
    font-weight: bold;
    text-decoration: underline overline;
    font-variant: small-caps;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 15px;
    text-align: left;
    font-family: verdana, sans-serif;
    line-height: 0;
}  
h3 {
    font-family: verdana, sans-serif;
    color: darkgray;
    font-style: italic;
}

h4 {
    font-weight: bold;
    text-decoration: underline overline;
    font-variant: small-caps;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 30px;
    text-align: left;
    font-family: verdana, sans-serif;
    line-height: 3;
}
.containerONE {
    margin-left: 5%;
    margin-right: 5%;
}

.containerONE {
    margin: auto;
     width:1000px; 
    background:rgb(255, 255, 255); 
    border:1px solid #ccc;
    border-top:none; 
    padding:5px; 
    border-radius:0 0 5px 5px;
    box-shadow:0 0 5px #ccc;
    
}