/* Styling */
body {
    font-family: Verdana;
}
ul.nav { text-align: center; }
ul.nav li { display: inline-block;
    border: 3pt sold grey ;
border-style: outset;
font-family: verdana, sans-serif;
text-decoration:underline overline;
    text-transform:uppercase;
    color:#000000;
    border: 12px dashed black;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:15px;
    padding: 15pt;
    line-height:0}

h1 {
    text-align: center;
    font-size: 34pt;
    font-family: Verdana, sans-serif;
text-decoration:underline overline;
    text-transform:uppercase;
    color:#000000;
    border: black 38px dashed #b5a759;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:55px;
        line-height:0;
margin:auto;}

p.welcome {padding:20px;border:4pt ofset grey;
    font-size:24pt; }
    
    