/* Styling */
body {
    font-family: Verdana;
}
ul.nav { text-align: center; }
ul.nav li { display: inline-block;
    border: 3pt sold grey ;
    border-style: outset;
    font-family: verdana, sans-serif;
    text-decoration:underline overline;
    text-transform:uppercase;
    color:#000000;
    border: 12px dashed black;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:15px;
    padding: 15pt;
    line-height:0}
img {
    max-width: 50%;
}
.paracontain {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}
.welcome {
    padding-bottom: 20px;
    border:4pt offset grey;
    font-size:24pt;
font-family: verdana;
    padding:50px;
margin: auto;
text-align: center;}
.bio {
    padding-bottom: 20px;
    border:4pt offset grey;
    font-size:14pt;
font-family: verdana;
    padding:5px;
margin: auto;
text-align: center;
}
.resume { border: 5pt solid black;
    margin:auto;
    width: 500pt;
    height: 600pt;
}
embed {
    width: 400pt;
    height:300pt;
}
h1 {;
    padding-top: 20px;
    text-align: center;
    font-size: 34pt;
    font-family: Verdana, sans-serif;
    text-decoration:underline overline;
    text-transform:uppercase;
    color:#000000;
    border: black 38px dashed #b5a759;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:55px;
    line-height:0;
    margin:auto;}


h2 {
    font-weight: bold;
    text-decoration: underline overline;
    font-variant: small-caps;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 15px;
    text-align: left;
    font-family: verdana, sans-serif;
    line-height: 0;
}  
h3 {
    font-family: verdana, sans-serif;
    color: darkgray;
    font-style: italic;
}

h4 {
    font-weight: bold;
    text-decoration: underline overline;
    font-variant: small-caps;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 30px;
    text-align: left;
    font-family: verdana, sans-serif;
    line-height: 3;
}
.containerONE {
    margin-left: 5%;
    margin-right: 5%;
}